.orders-list {
  background-color: #fff;

  table {
    border-radius: 5px;

    th {
      color: #626272;
      font-size: 10px;
      line-height: 12px;
      background: #fff;
      font-weight: normal;
    }

    td {
      color: #8899aa;
      font-size: 11px;
      line-height: 13px;
    }
  }
}
