.additions {
  &-place {
    background-color: #fff;
    overflow: hidden;
    height: 80px;
    text-align: center;
    box-shadow: 0px 2px 3px 0px rgba(98, 98, 114, 0.21);
    position: relative;
    z-index: 100;
  }

  &-header {
    color: #626272;
    font-size: 24px;
    line-height: 28px;
    margin-top: 20px;
  }

  &-subheader {
    color: #8899aa;
    font-size: 14px;
    line-height: 17px;
  }

  &-form {
    padding-bottom: 10px;
    padding: 20px 10px 0;

    label {
      color: #626272;
      padding: 5px;
      font-size: 13px;
      line-height: 16px;
    }

    select {
      color: #8899aa;
      font-size: 13px;
      line-height: 15px;
      border: 1px solid #d8d8d8;
      border-radius: 3px;
    }
  }

  &-update {
    background-color: #f4f7f8;
    padding-bottom: 10px;
    button {
      color: #fff;
      height: 44px;
      width: 140px;
      border-radius: 2px;
      background-color: #8899aa;
    }
  }
}
