@font-face {
  font-family: 'Montserrat-Bold';
  src: url('assets/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('assets/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('assets/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('assets/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('assets/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('assets/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-UltraLight';
  src: url('assets/fonts/Montserrat-UltraLight.woff2') format('woff2'),
    url('assets/fonts/Montserrat-UltraLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('assets/fonts/Montserrat-Light.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-UltraLight';
  src: url('assets/fonts/Montserrat-UltraLight.woff2') format('woff2'),
    url('assets/fonts/Montserrat-UltraLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('assets/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('assets/fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('assets/fonts/Montserrat-Black.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('assets/fonts/Montserrat-Light.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Hairline';
  src: url('assets/fonts/Montserrat-Hairline.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Hairline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Hairline';
  src: url('assets/fonts/Montserrat-Hairline.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Hairline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('assets/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('assets/fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-UltraLight';
  src: url('assets/fonts/Montserrat-UltraLight.woff2') format('woff2'),
    url('assets/fonts/Montserrat-UltraLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('assets/fonts/Montserrat-Light.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('assets/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('assets/fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('assets/fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('assets/fonts/Montserrat-Black.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('assets/fonts/Montserrat-Black.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('assets/fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('assets/fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Hairline';
  src: url('assets/fonts/Montserrat-Hairline.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Hairline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
