@font-face {
  font-family: 'nimbl3';
  src: url('assets/icons/nimbl3.eot');
  src: url('assets/icons/nimbl3.eot?#iefix') format('embedded-opentype'),
    url('assets/icons/nimbl3.woff') format('woff'),
    url('assets/icons/nimbl3.ttf') format('truetype'),
    url('assets/icons/nimbl3.svg#nimbl3') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'nimbl3' !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'nimbl3' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: '\e000';
}
.icon-arrow-in-circle:before {
  content: '\e001';
}
.icon-box:before {
  content: '\e002';
}
.icon-chart:before {
  content: '\e003';
}
.icon-close:before {
  content: '\e004';
}
.icon-controls:before {
  content: '\e005';
}
.icon-document:before {
  content: '\e006';
}
.icon-factory:before {
  content: '\e007';
}
.icon-gear:before {
  content: '\e008';
}
.icon-hierarchy:before {
  content: '\e009';
}
.icon-icon-edit:before {
  content: '\e00a';
}
.icon-icon-fb:before {
  content: '\e00b';
}
.icon-icon-linkedin:before {
  content: '\e00c';
}
.icon-icon-mail:before {
  content: '\e00d';
}
.icon-icon-phone:before {
  content: '\e00e';
}
.icon-icon-play:before {
  content: '\e00f';
}
.icon-icon-plus:before {
  content: '\e010';
}
.icon-icon-toggle-merged:before {
  content: '\e011';
}
.icon-icon-twitter:before {
  content: '\e012';
}
.icon-magnifying-glass:before {
  content: '\e013';
}
.icon-mandatory-star:before {
  content: '\e014';
}
.icon-noimage-placeholder:before {
  content: '\e015';
}
.icon-people:before {
  content: '\e016';
}
.icon-pricing-label:before {
  content: '\e017';
}
.icon-shapes:before {
  content: '\e018';
}
.icon-shopping-cart:before {
  content: '\e019';
}
.icon-switch-off:before {
  content: '\e01a';
}
.icon-switch-on:before {
  content: '\e01b';
}
.icon-tick:before {
  content: '\e01c';
}
