.header {
  height: 50px;
  background-color: #702283;
  padding: 0 5px;

  [class*='icon'] {
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    color: #e8882f;
    line-height: 50px;
  }
}

.header-back {
  color: #e78830;
  transform: rotate(180deg);
  float: left;
}

.header-title {
  color: #fff;
  font-size: 15px;
  line-height: 50px;
  font-family: 'Montserrat-Light';
  font-weight: 300;
  text-align: center;
}

.header-search {
  float: right;
  position: relative;
  top: 3px;
  right: 10px;
}
