.order-summary {
  border-bottom: 2px solid #f1f0f4;

  &-wrapper {
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.08), 0 -2px 0 0 rgba(0, 0, 0, 0.08);
    background-color: #fff;
    margin-bottom: 20px;
  }

  label {
    color: #626272;
    font-size: 14px;
    line-height: 32px;
  }

  input {
    height: 32px;
    border: 1px solid #8899aa;
    border-radius: 2px;
    color: #c9c9c9;
    font-size: 13px;
    line-height: 16px;
    float: right;
    margin-bottom: 0;
    text-align: center;
  }

  span {
    float: right;
    color: #8899aa;
    line-height: 32px;
  }

  &-top {
    padding: 15px;
    border-bottom: 1px solid #f1f0f4;
    label {
      text-align: center;
    }
  }

  &-content {
    padding: 15px;
    border-bottom: 1px solid #f1f0f4;
    .grid-x {
      padding-bottom: 5px;
      .tax {
        font-size: 13px;
        span {
          padding-left: 3px;
        }
      }
    }
  }

  &-bottom {
    padding: 15px;
    label {
      font-size: 16px;
      line-height: 32px;
    }
    span {
      font-size: 24px;
      line-height: 32px;
    }
  }
}
