.add-product {
  background-color: #fff;
  margin: 20px 0;
  height: 70px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.08), 0 -2px 0 0 rgba(0, 0, 0, 0.08);
  background-color: #fff;

  h2 {
    line-height: 70px;
    padding: 0 20px;
    font-size: 18px;
    color: #8899aa;
    i {
      font-size: 30px;
      position: relative;
      top: 10px;
      margin-right: 10px;
    }
  }
}
