.remarks {
  background-color: #fff;
  padding: 10px;
  border-top: 1px solid rgba(173, 179, 185, 0.51);
  border-bottom: 1px solid rgba(173, 179, 185, 0.51);
  margin-bottom: 10px;

  h3 {
    color: #626272;
    font-size: 14px;
  }

  p {
    color: #8899aa;
    font-size: 13px;
    line-height: 18px;
  }
}
